if impl(ghc == 9.14.*)
  allow-newer:
      *:base
    , *:template-haskell
    , *:ghc-experimental
    , *:ghc-internal
    , *:ghc-bignum
    , *:containers
    , *:errors
    , errors:*
  constraints:
      base < 4.23
    , template-haskell < 2.25
    , ghc-experimental < 9.1500
    , ghc-internal < 9.1500
